<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <form action="submit" class="w-full flex justify-center mt-10 mx-6 mb-8">
      <div
        class="flex items-center gap-2 border border-gray-300 bg-white shadow-md rounded-full px-4 py-2 w-full max-w-md"
      >
        <input
          type="text"
          name="crazy-name"
          placeholder="Add your wish..."
          class="flex-1 placeholder:italic text-sm bg-transparent outline-none"
          [(ngModel)]="newWish"
          (ngModelChange)="onNewWishChange($event)"
          [attr.maxLength]="maxlength"
        />
        <div>
          <span
            [ngClass]="{'text-red-500 font-bold ': charChounter === maxlength}"
            class="text-[5px] pr-1"
            >{{charChounter}}/{{maxlength}}</span
          >
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white text-xs font-semibold px-4 py-1 rounded-full transition-colors disabled:cursor-not-allowed"
            (click)="$event.preventDefault(); addNewWish()"
            [disabled]="newWish.length === 0"
          >
            ADD WISH
          </button>
        </div>
      </div>
    </form>
    <div class="w-full max-w-xs mx-auto mb-6">
      <select
        name="filter"
        id="select0_1_2"
        [(ngModel)]="listFilter"
        class="w-full bg-white border border-gray-300 text-sm text-gray-700 rounded-lg shadow-sm py-2 focus:outline-none focus:ring-2 focus:ring-blue-100"
      >
        <option value="all">All Wishes</option>
        <option value="unfulfilled">Unfulfilled Wishes</option>
        <option value="fulfilled">Fulfilled Wishes</option>
      </select>
    </div>
    <div>
      <div *ngIf="visibleItems.length === 0 else displayList">
        <div class="mx-auto w-fit font-bold">
          <h1>No wish to display</h1>
        </div>
      </div>
      <ng-template #displayList>
        <ul class="mx-auto w-fit">
          <li *ngFor="let item of visibleItems">
            <label class="inline-flex gap-1">
              <input
                type="checkbox"
                [checked]="item.isFulfilled"
                (click)="toggleItem(item)"
              />
              <h2 [ngClass]="{'italic text-gray-300': item.isFulfilled}">
                {{item.wishText}}
              </h2></label
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </body>
</html>
